Welcome
<div ng-controller='UserController as userCtrl'>
  <ul>
    <li>{{userCtrl.user.first_name}}</li>
  </ul>
</div>
<%= javascript_tag do %>
  var user = <%=raw @user.to_json %>;
<% end %>

Properties
<% if @user.places.count > 0 %>
  <%= render @user.places %>
<% else %>
  <div>You don't have any properties yet</div>
<% end %>
<button_to

<%= form_tag send_email_path do %>
  <%= submit_tag 'Email'%>
<% end %>
