<div id='guest-container'>
<% if @key.used_at %>
  <div id="notification-center">
    <p>This key has been already used. Please notify <%= @key.guest.user.first_name %></p>
    <%= render 'keys/notifications' %>
  </div>
<% else %>
  <div id="open-container">
    <% if @key.is_available? %>

      <% if !@key.requested %>
        <%= render partial: 'places/giant_lock', locals: { name: @key.guest.name, id: @key.id, place_name: @key.place.nickname, tag: 'key'} %>
      <% else %>
          <p>Please wait until the buzzer open the door for you, if it doesn't :</p>
          <%= render 'keys/notifications' %>
      <% end %>

    <% else %>

      <% if @key.has_expired? %>
        <p>Your key will be available in : </p>
        <div id="available-in"></div>
        <%= javascript_tag do %>
          var startDate = <%= raw @key.get_start_date_string.to_json%>;
          availableIn(startDate);
        <% end %>
      <% else %>
          <p>Your key has expired, notify <%= @key.guest.name %></p>
          <%= render 'keys/notifications' %>
      <% end %>
      
    <% end %>
  </div>
<% end %>
</div>