<% if @key.used_at %>
  <div id="notification-center">
    <p>This key has been already used. Please notify <%= @key.guest.user.first_name %></p>
    <%= form_tag notifications_path do %>
      <%= hidden_field_tag :user_id, @key.place.admin_id %>
      <%= hidden_field_tag :key_id, @key.id %>
      <%= text_area_tag :message %>
      <%= submit_tag "Notify",class: 'notifyBtn' %>
    <% end %>
  </div>
<% else %>
  <div id="open-container">
    <% if @key.is_available? %>

      <% if !@key.requested %>
        <%= form_for @key do |field| %>
          <input type="hidden" name="key[requested]" value="true" />
          <%= submit_tag "Open",class: 'request-btn' %>
        <% end %>
      <% else %>
          <p>Please wait until the buzzer open the door for you, if it doesn't :</p>
          <%= form_tag notifications_path do %>
            <%= hidden_field_tag :user_id, @key.guest.user.id %>
            <%= hidden_field_tag :key_id, @key.id %>
            <%= text_area_tag :message %>
            <%= submit_tag "Notify",class: 'notify-btn' %>
          <% end %>
      <% end %>

    <% else %>

      <div id="available-in"></div>
      <%= javascript_tag do %>
        var startDate = <%= raw @key.get_start_date_string.to_json%>;
        availableIn(startDate);
      <% end %>

    <% end %>
  </div>
<% end %>