<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <h4>Hi <%= @key.guest.name %></h4>
      <div id='lock-container' class='container-fluid'>
        <i id='giant-lock' class="fa fa-lock" data-place-id='<%= @key.id %>'></i>
      </div>
      <div class='container-fluid' id="unlock-message-container">
        <h5 id="unlock-message">Click the lock to unlock <%= @key.place.nickname %></h5>
      </div>
    </div>
  </div>
</div>

<% if @key.used_at %>
  <div id="notification-center">
    <p>This key has been already used. Please notify <%= @key.guest.user.first_name %></p>
    <%= render 'keys/notifications' %>
  </div>
<% else %>
  <div id="open-container">
    <% if @key.is_available? %>

      <% if !@key.requested %>
        <%= form_for @key do |field| %>
          <input type="hidden" name="key[requested]" value="true" />
          <%= submit_tag "Open",class: 'request-btn' %>
        <% end %>
      <% else %>
          <p>Please wait until the buzzer open the door for you, if it doesn't :</p>
          <%= render 'keys/notifications' %>
      <% end %>
    <% else %>
      <p>Your key will be available in : </p>
      <div id="available-in"></div>
      <%= javascript_tag do %>
        var startDate = <%= raw @key.get_start_date_string.to_json%>;
        console.log(startDate);
        availableIn(startDate);
      <% end %>

    <% end %>
  </div>
<% end %>