<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <h4>Hi <%= @user.first_name %></h4>
      <div id='lock-container' class='container-fluid'>
        <i id='giant-lock' class="fa fa-lock" data-place-id='<%= @place.id %>'></i>
      </div>
      <div class='container-fluid' id="unlock-message-container">
        <h5 id="unlock-message">Click the lock to unlock your <%= @place.nickname %></h5>
      </div>
    </div>
  </div>
</div>

<div id="form-drop-down" class="col-md-12 text-center"><hr></div>

<div class="container">
  <div class="row">
    <div class="panel panel-default col-md-4">
      <div class="panel-heading"><span class="text-left">Logs</span><i id="add-place" class="fa fa-plus pull-right"></i></div>
      <div class="panel-body">
        <% if @user.places.count > 0 %>
          <%= render @user.places %>
        <% else %>
          <div>You don't have any properties yet</div>
        <% end %>
      </div>
    </div>
    <div class="panel panel-default col-md-4">
      <div class="panel-heading"><span class="text-left">Keys</span><i id="add-key" class="fa fa-plus pull-right"></i></div>
      <div class="panel-body">
        <% if @user.keys.count > 0 %>
          <%= render @user.keys %>
        <% else %>
          <div>You don't have any keys yet</div>
        <% end %>
      </div>
    </div>
    <div class="panel panel-default col-md-4">
      <div class="panel-heading"><span class="text-left">Guests</span><i id="add-guest" class="fa fa-plus pull-right"></i></div>
      <div class="panel-body">
        <% if @user.guests.count > 0 %>
          <%= render @user.guests %>
        <% else %>
          <div>You don't have any guests yet</div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<a href = "/keys/new">Make new guest key</a>