<!DOCTYPE html>
<html>
<head>
  <title>Entra</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Cutive+Mono' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <%= render 'layouts/nav' %>
    <%= flash[:warning] %>
    <%= flash[:error] %>
    <%= flash[:success] %>
    <%= yield %>
  </div>
</body>
</html>
